:host {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 2fr 1fr;
  padding: 0.5rem;
}

span {
  grid-column: 1;
}

app-loading-spinner {
  grid-column: 2;
  grid-row: 1/3;
  display: flex;
  justify-content: right;
  height: 3rem;
}

button {
  height: 100%;
}
