:host {
  background-color: var(--palette-bg-darker);
  display: flex;
}

h1 {
  flex-grow: 1;
  margin-top: auto;
  margin-bottom: auto;
  overflow-x: auto; /* <1> */
  text-align: center;
  text-wrap: nowrap; /* <1> */
}

/* <1>
Scroll horizontally without wrapping if there is not enough space to render the title.
*/
