<div role="toolbar" aria-label="Catalogue Controls">
  <input
    appTextSearchInput
    placeholder="Search within Catalogue"
    (searchedText)="searchByTitle($event)"
    (searchCleared)="fetchPlaylists()"
  />
</div>
<article
  app-new-playlist-tile
  (creatingPlaylist)="createPlaylistForm.showDialog()"
></article>
<article
  app-playlist-tile
  *ngFor="let playlist of playlists | async"
  [playlist]="playlist"
  (selected)="openPlaylist($event)"
></article>

<app-create-playlist-form-dialog
  #createPlaylistForm
  (createdPlaylist)="createPlaylist($event)"
/>
