@if (playlist | async; as playlist) {
  <h2>{{ playlist.title }}</h2>
  <button
    (click)="addSongFormDialog.showDialog()"
    title="Add a Song"
    aria-label="Add a Song"
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <button
    (click)="renamePlaylistFormDialog.showDialog()"
    title="Rename a Playlist"
    aria-label="Rename a Playlist"
  >
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </button>
  <button
    (click)="deletePlaylist()"
    title="Delete a Playlist"
    aria-label="Delete a Playlist"
  >
    <i class="fa fa-trash" aria-hidden="true"></i>
  </button>

  <app-add-song-form-dialog #addSongFormDialog (addedSong)="addSong($event)" />
  <app-rename-playlist-form-dialog
    #renamePlaylistFormDialog
    (renamedPlaylist)="renamePlaylist($event)"
    [playlist]="playlist"
  />
}
<!--TODO Do we need some sort of 'loading' spinner?-->

@if ((songs | async) ?? []; as songs) {
  <!--    [(...)?? []](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing)-->
  <app-song-table [songs]="songs" (removingSong)="removeSong($event)" />
}
<!--TODO Need to consider what our placeholder content will be. See @empty-->
