<main>
    <ng-container *ngIf="(playlist$ |async) as playlist">
        <h2>{{ playlist.name }}</h2>
        <button (click)="addSongForm.showDialog()" title="Add Song"><i class="fa fa-plus"></i></button>
        <button (click)="renamePlaylistForm.showDialog()" title="Rename Playlist"><i class="fa fa-pencil"></i></button>
        <button title="Delete Playlist"><i class="fa fa-trash"></i></button>

        <app-add-song-form-dialog #addSongForm
                                  (addedSong)="addSong($event)"/>
        <app-rename-playlist-form-dialog #renamePlaylistForm
                                         (renamedPlaylist)="renamePlaylist($event)"
                                         [playlist]="playlist"/>
    </ng-container>

    <ng-container *ngIf="(songs$|async) as songs">
        <app-song-table
                [songs]="songs"
                (removingSong)="removeSong($event)"
        />
    </ng-container>
</main>
