:host {
  :hover {
    cursor: pointer;
    filter: brightness(25%);
  }
}

select {
  background: transparent;
  display: block;
  font-size: medium;
  padding: 1rem;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;

  :hover {
    cursor: pointer;
  }
}
