<ol>
  @for (channel of channels(); track channel.id) {
    @let isConnectedChannel = connectedChannel()?.id === channel.id;
    @let isConnectingToChannel = connectingTo()?.id === channel.id;
    <li>
      <button (click)="select(channel)" [class.highlight]="isConnectedChannel">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
        <span
          [class.loading]="
            loadingChannels() && !(isConnectedChannel || isConnectingToChannel)
          "
          >{{ channel.name }}</span
        >
      </button>
      @if (isConnectedChannel || isConnectingToChannel) {
        <app-channel-audio />
      }
    </li>
  }
</ol>
