<ol>
  @for (channel of channels(); track channel.id) {
    <li>
      <button (click)="select(channel)">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
        <span>{{ channel.name }}</span>
      </button>
      @if (connectedChannel()?.id === channel.id) {
        <div>
          @let url = audioService()?.icon_url;
          @if (url !== undefined) {
            <img ngSrc="{{ url }}" alt="Icon" width="48" height="48" />
          }
          <span>{{ audioService()?.name }}</span>
        </div>
      }
    </li>
  }
</ol>
