select {
  background-color: var(--palette-bg-panel);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  color: var(--palette-text);
  display: block;
  font-size: medium;
  padding: 1rem;
  width: 100%;

  &:hover,
  &:focus-within {
    background: var(--palette-bg-page);
    cursor: pointer;
    outline: none;
  }

  &.highlight {
    border-bottom: 0.25rem solid var(--palette-accent);
  }
}

li {
  color: var(--palette-text);
}
