<div class="control-bar" role="toolbar" aria-label="'Catalogue Controls'">
  <button
    (click)="createPlaylistDialog.showModal()"
    title="Create a Playlist"
    aria-label="Create a Playlist"
    [class.highlight]="createPlaylistDialog.open"
  >
    <i class="fa fa-plus" aria-hidden="true"></i>
  </button>
  <input
    #playlistSearchInput
    appTextSearchInput
    placeholder="Search within Catalogue"
    (searchedText)="filterPlaylists($event)"
    (searchCleared)="clearFilter()"
    [value]="playlistTitleFilter() ?? ''"
  />
</div>
<section class="page-scrolling">
  @for (playlist of playlists(); track playlist.id) {
    <!--    [track playlist.id](https://angular.dev/api/core/@for#track-and-objects-identity)-->
    <article
      class="tile"
      app-playlist-tile
      [playlist]="playlist"
      (selected)="openPlaylist($event)"
    ></article>
  } @empty {
    <article
      class="tile"
      app-playlist-create-tile
      (creatingPlaylist)="createPlaylistDialog.showModal()"
    ></article>
  }
</section>

<dialog #createPlaylistDialog class="modal">
  <form
    app-playlist-create-form
    #createPlaylistForm
    method="dialog"
    (ngSubmit)="createPlaylistForm.submit()"
    (createdPlaylist)="createPlaylist($event)"
    [initialTitle]="defaultPlaylistTitle()"
  ></form>
</dialog>
