section {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* <2> */
}

/* <2> Reactive Grids

Fill up the width allowed with as many columns as appropriate,
with the restriction that a column must be at least 15rem wide (sufficient to display most titles comfortably).

*/
