:host {
  display: block;
  margin-top: 1.5rem;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;

  & tr:nth-child(odd) {
    background-color: var(--palette-content);
  }
}

th {
  background-color: var(--palette-bg-darker);
  border-bottom: 0.25rem solid var(--palette-accent);
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

tr,
thead {
  & > :first-child,
  :last-child {
    text-align: center;
  }

  & > :last-child {
    padding-right: 1rem;
  }
}

tr > td:first-child {
  height: 6rem;
  width: 6rem;

  & img {
    height: auto;
    max-height: 5rem;
    max-width: 5rem;
    width: auto;
  }
}
