:root {
  /* Typography */
  font-family: Tahoma, sans-serif;
  font-style: normal;

  --palette-accent: #636fff; /* Discord + Deezer = Blurple accent*/

  /* Deezer-inspired Light Mode/Default */
  --palette-bg-content: #ffffff; /* Content, dialogs, messages, cards, etc */
  --palette-bg-page: #f5f5f5;
  --palette-bg-panel: #ebebeb;
  --palette-text: #2c2c2c;

  @media (prefers-color-scheme: dark) {
    /* Discord-inspired Dark Mode */
    --palette-bg-content: #36393f;
    --palette-bg-page: #2f3136;
    --palette-bg-panel: #202225;
    --palette-text: #dcddde;
  }
}
