<!--TODO Do we need some sort of 'loading' spinner?-->
@if (playlist | async; as playlist) {
  <div class="control-bar" role="toolbar" aria-label="'Catalogue Controls'">
    <button
      (click)="addSongDialog.showModal()"
      title="Add a Song"
      aria-label="Add a Song"
      [class.highlight]="addSongDialog.open"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <button
      (click)="renamePlaylistDialog.showModal()"
      title="Rename a Playlist"
      aria-label="Rename a Playlist"
      [class.highlight]="renamePlaylistDialog.open"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button
      (click)="deletePlaylist()"
      title="Delete a Playlist"
      aria-label="Delete a Playlist"
    >
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>

  <section title="Playlist Songs" class="page-scrolling">
    @if ((songs | async) ?? []; as songs) {
      <!--    [(...)?? []](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing)-->
      <table
        app-song-table
        [songs]="songs"
        (copyingSongToClipboard)="copySongToClipboard($event)"
        (removingSong)="removeSong($event)"
      ></table>
    }
  </section>

  <dialog #addSongDialog appModal (close)="addSongForm.reset()" class="modal">
    <form
      app-song-create-form
      #addSongForm
      method="dialog"
      (ngSubmit)="addSongForm.submit()"
      (addedSong)="addSong($event)"
    ></form>
  </dialog>

  <dialog
    #renamePlaylistDialog
    appModal
    (close)="renamePlaylistForm.reset()"
    class="modal"
  >
    <form
      app-playlist-rename-form
      #renamePlaylistForm
      method="dialog"
      (ngSubmit)="renamePlaylistForm.submit()"
      (renamedPlaylist)="updatePlaylist($event)"
      [playlist]="playlist"
    ></form>
  </dialog>
}
<!--TODO Need to consider what our placeholder content will be. See @empty-->
