<!--TODO Do we need some sort of 'loading' spinner?-->
@let playlist = this.playlist();
@if (playlist !== undefined) {
  <div class="control-bar" role="toolbar" aria-label="'Catalogue Controls'">
    <button
      appHotkey
      hotkey="1"
      (pressed)="addSongDialog.showModal()"
      (click)="addSongDialog.showModal()"
      title="Add a Song"
      aria-label="Add a Song"
      [class.highlight]="addSongDialog.open"
    >
      <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <button
      appHotkey
      hotkey="2"
      (pressed)="renamePlaylistDialog.showModal()"
      (click)="renamePlaylistDialog.showModal()"
      title="Rename a Playlist"
      aria-label="Rename a Playlist"
      [class.highlight]="renamePlaylistDialog.open"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </button>
    <button
      (click)="deletePlaylist()"
      title="Delete a Playlist"
      aria-label="Delete a Playlist"
    >
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>

  <section title="Playlist Songs" class="page-scrolling">
    @let songs = this.songs();
    @if (songs !== undefined) {
      <table
        app-song-table
        [songs]="songs"
        (removingSong)="removeSong($event)"
        [loading]="loadingSongs()"
      ></table>
    }
  </section>

  <dialog #addSongDialog appModal (close)="addSongForm.reset()" class="modal">
    <form
      #addSongForm
      app-song-create-form
      method="dialog"
      [playlist]="playlist"
      (submitted)="refreshSongs()"
    ></form>
  </dialog>

  <dialog
    #renamePlaylistDialog
    appModal
    (close)="renamePlaylistForm.reset()"
    class="modal"
  >
    <form
      #renamePlaylistForm
      app-playlist-rename-form
      method="dialog"
      [playlist]="playlist"
      (submitted)="updatePlaylist($event)"
    ></form>
  </dialog>
}
<!--TODO Need to consider what our placeholder content will be. See @empty-->
