:host {
  &:hover,
  &:focus-within {
    i {
      display: block;
    }
  }
}

img {
  grid-column: 1/4;
  grid-row: 1/4;
  height: 100%;
  width: 100%;
  z-index: calc(var(--z-index-page) - 1);
}

i {
  display: none;
}

button {
  grid-column: 2;
  grid-row: 2;
}
