@if (service | async; as service) {
  <app-audio-service-overlay [service]="service">
    <ng-container *ngTemplateOutlet="layout"></ng-container>
  </app-audio-service-overlay>
} @else {
  <ng-container *ngTemplateOutlet="layout"></ng-container>
}

<ng-template #layout>
  <div class="app-layout">
    <app-header>
      <app-audio-overlay-toggle
        (toggled)="toggleAudioService()"
        [initialToggle]="!!(service | async)"
      />
    </app-header>
    <main>
      <router-outlet />
    </main>
  </div>
</ng-template>
