.app-layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  main {
    /* Main content expands to fill the view port, and scrolls if more space is needed.
         Effectively fixes the elements around main so they always remain visible.
         */
    flex-grow: 1;
    overflow-y: auto;
  }
}
