<!--The image is adjacent to the button, not within it. This makes the most sense,
but does cause a little repetition in the control blocks.-->
@if (connected()) {
  <img
    class="darken-bright-accent"
    ngSrc="assets/gm-logo-blue.svg"
    height="512"
    width="512"
    alt="Gamemaster Icon"
    priority
  />
} @else {
  <button
    title="Connect to Discord"
    aria-label="Connect to Discord"
    (click)="reconnect()"
  >
    @if (reconnecting()) {
      <i class="fa fa-toggle-on" aria-hidden="true"></i>
    } @else {
      <i class="fa fa-toggle-off" aria-hidden="true"></i>
    }
  </button>
  <img
    class="adaptive-filter"
    ngSrc="assets/gm-logo-dark.svg"
    height="512"
    width="512"
    alt="Gamemaster Icon"
    priority
  />
}
<!--TODO priority is needed to avoid flick on load. We need to ensure both icons are present, or at least the secondary is.-->
<!--TODO we could use css classes to display none and then if the toggle is toggled we use display unset?-->
