:host {
  align-content: center;
  aspect-ratio: 1/1;
  display: flex;

  &:hover,
  &:focus-within {
    i {
      color: var(--palette-accent);
    }

    img {
      filter: invert(80%);
    }

    @media (prefers-color-scheme: light) {
      .darken-bright-accent {
        filter: brightness(80%);
      }
    }
  }
}

button {
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;

  i {
    color: var(--palette-text);
    font-size: 1.5rem;
  }

  &:hover {
    cursor: pointer;
  }
}

img {
  max-height: 100%;
  width: auto;
}

@media (prefers-color-scheme: light) {
  /*   The accented blue is slightly too bright with the current light mode palette.
  TODO [theme] when a proper theme for light mode is created we should account for this and remove this.cd
  */
  .darken-bright-accent {
    filter: brightness(60%);
  }
}
