@let servicez = service();
@if (servicez) {
  @let serverz = servers();
  @if (serverz) {
    <app-server-selector [servers]="serverz" (selected)="selectServer($event)">
    </app-server-selector>
  }

  @let channelz = channels();
  @if (channelz) {
    <app-server-channel-selector
      [channels]="channelz"
      [serverAudio]="serverAudio()"
      [audioService]="servicez"
      (selected)="joinChannel($event)"
    >
    </app-server-channel-selector>
  }

  @let serverAudioz = serverAudio();
  @if (serverAudioz) {
    <app-server-audio-status
      [serverAudio]="serverAudioz"
      (audioDisconnected)="disconnectAudio()"
    >
    </app-server-audio-status>
  }

  <app-audio-service-status [audioService]="servicez">
  </app-audio-service-status>
}
