:host {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: minmax(0, 100vh);
  overflow-y: clip;
}

aside {
  background: var(--palette-bg-darker);
  display: flex;
  flex-direction: column;

  app-server-selector {
    margin-bottom: auto; /*<1>*/
  }

  app-channel-selector {
    flex-grow: 1; /*<2>*/
    overflow-y: auto;
  }
}

main {
  grid-column: 2/7;
  overflow-y: auto;
}

/*  <1>

 The ServerSelector is positioned at the top of the Aside,
 setting margin-bottom: auto will have the browser give as much bottom
 margin as possible to the ServerSelector, effectively pushed the remaining
 flex components down to the bottom of the Aside.

 */

/*  <2>

In the Aside, all components except the ChannelSelector need a fixed amount
of space to render themselves correctly. The ChannelSelector is the only component
that needs to be able to grow in side to render the unknown no. of Channels in the selected Server.

 */
