<aside>
    <app-server-selector #serverSelector
                         *ngIf="(servers$ |async) as servers"
                         [servers]="servers"
                         (serverSelected)="selectServer($event)">
    </app-server-selector>

    <app-channel-selector
            *ngIf="(channels$ | async) as channels"
            [channels]="channels"
            (channelSelected)="joinChannel($event)">
    </app-channel-selector>

    <app-server-audio-status
            *ngIf="(serverAudio$ | async) as serverAudio"
            [serverAudio]="serverAudio"
            (audioDisconnected)="disconnectAudio()">
    </app-server-audio-status>

    <app-service-status
            *ngIf="(service$ | async) as service"
            [audioService]="service">
    </app-service-status>

</aside>