aside,
button {
  position: fixed;

  &.top {
    top: 0;
  }

  &.bottom {
    bottom: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

aside,
i {
  transition: transform 0.3s ease;
}

aside {
  background: var(--palette-bg-darker);
  overflow: hidden;
  z-index: var(--z-index-panel);

  &.top,
  &.bottom {
    width: 100vw;
  }

  &.left,
  &.right {
    height: 100vh;
  }

  &.top {
    transform: translateY(-100%);
  }

  &.bottom {
    transform: translateY(100%);
  }

  &.left {
    transform: translateX(-100%);
  }

  &.right {
    transform: translateX(100%);
  }

  &.expanded {
    overflow: unset;
    transform: unset;
  }

  @media only screen and (orientation: portrait) {
    height: 100vh;
    width: 100vw;
  }
}

button {
  aspect-ratio: 1/1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 2rem;
  z-index: calc(var(--z-index-panel) + 1);

  &.top,
  &.bottom {
    left: 50vw;
    transform: translateX(-50%);
  }

  &.left,
  &.right {
    top: 50vh;
    transform: translateY(-50%);
  }

  &.top i {
    rotate: 270deg;
  }

  &.bottom i {
    rotate: 90deg;
  }

  &.left i {
    rotate: 180deg;
  }

  &.expanded i {
    color: var(--palette-accent);
    transform: rotateY(180deg);
  }
}
