ol {
    padding : 0.5rem;
}

li {
    list-style-type : none;
    margin-bottom   : 0.5rem;
    margin-top      : 0.5rem;

    :hover {
        background : var(--palette-bg);
        cursor     : pointer;
    }
}

button {
    background    : transparent;
    border        : none;
    border-radius : 0.25rem;
    height        : 2rem;
    padding-left  : 0.5rem;
    text-align    : left;
    width         : 100%;

    i {
        padding-right : 0.5rem;
    }

}

