section {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* <1> */

  @media only screen and (orientation: portrait) {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

/* <1> Reactive Grids

Fill up the width allowed with as many columns as appropriate,
with the restriction that a column must be at least 15rem wide (sufficient to display most titles comfortably).

*/
