section {
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr)); /* <1> */

  @media only screen and (orientation: portrait) {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  }
}

.input-box {
  background-color: var(--palette-bg-content);
  margin-left: auto;
  width: 30%;
  position: relative;

  input {
    background-color: var(--palette-bg-content);
    border: none;
    border-radius: 0;
    box-sizing: border-box;
    color: var(--palette-text);
    height: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
  }

  div.loader {
    height: 50%;
    right: 1rem;
    position: absolute;
    top: 25%;
  }
}

/* <1> Reactive Grids

Fill up the width allowed with as many columns as appropriate,
with the restriction that a column must be at least 15rem wide (sufficient to display most titles comfortably).

*/
