:root {
  /* Minimalist and Modern Palette Color Palette: https://www.color-hex.com/color-palette/1055648 */
  --palette-accent: #e6e6fa;
  --palette-bg: #e0e0e0;
  --palette-bg-darker: #a8a8a8;
  --palette-content: #ffffff;
  --palette-text: #333333;

  /* Default Fonts */
  font-style: normal;
  font-family: Tahoma, sans-serif;
}

body {
  background: var(--palette-bg);
  color: var(--palette-text);
  margin: 0;
  height: 100vh;
}

/* Layout Classes */

.header-bar {
  height: 4rem;
  border-bottom-style: solid;
  border-bottom-width: 0.25rem;
  border-bottom-color: var(--palette-accent);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-sizing: border-box; /* <1> */

  /* <1>
   Include the border in the height calculation. This is usually the default, but for some elements like the `<header>`
   tag, the default is different (`context-box`) which will cause the header-bar 'height' to appear inconsistent.
   */
}

.control-bar {
  background: var(--palette-bg-darker);
  display: flex;
  flex-shrink: 0; /* <1> */
  grid-column: span 4;
  grid-row: 1;
  height: 3rem;

  input {
    margin-left: auto;
    padding-left: 1.5rem;
    width: 30%;
  }

  button {
    aspect-ratio: 1/1;
    border: none;
    border-radius: 0;
    margin: 0.5rem 0 0.5rem 0.5rem;
  }
}

@media (prefers-color-scheme: dark) {
  .adaptive-filter {
    /* Lightens colours (mainly for solid black icon images) during dark theme. */
    filter: invert(60%);
  }

  :root {
    --palette-accent: #c9dae2;
    --palette-bg: #1b1b1b;
    --palette-bg-darker: #000000;
    --palette-content: #403f3f;
    --palette-text: #e6e6e6;
  }
}
