<thead>
  <th>Song</th>
  <th>Title</th>
  <th>Artist</th>
  <th></th>
</thead>
<tbody>
  @for (song of songs; track song.id) {
    <tr>
      <td>
        <a href="{{ song.url }}" target="_blank">
          @if (song.thumbnail_url) {
            <img src="{{ song.thumbnail_url }}" alt="thumbnail" />
          } @else {
            <img
              class="adaptive-filter"
              ngSrc="assets/vinyl.png"
              alt="thumbnail"
              height="512"
              width="512"
            />
          }
        </a>
      </td>
      <td>
        {{ song.title ? song.title : song.url }}
      </td>
      <td>
        {{ song.artist ? song.artist : "" }}
      </td>
      <td>
        <button
          title="Copy to Clipboard"
          (click)="copyingSongToClipboardEvent(song)"
        >
          <i class="fa fa-clone" aria-hidden="true"></i>
        </button>
        <button title="Remove Song" (click)="removingSongEvent(song)">
          <i class="fa fa-minus"></i>
        </button>
      </td>
    </tr>
  }
</tbody>
